.nocdiu{
    display: flex;
    flex-direction: row;
}

.mode{
    display: flex;
    justify-content: center;    
    align-items: center;
    border: 2px solid black;
    width: 5rem;
    height: 3.5rem;
    cursor: pointer;
}

.mode:hover{
    background-color: rgb(148, 148, 148);
}

.diu{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;    
}

.noc{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;    
}
