/*Estilos generales*/
html{
    height: 100vh;
}
/*Header*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
    margin: 1rem;
    margin-bottom: 0;
}

img:nth-child(1){
    height: 3rem;   
}

.search{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    border-radius: 60px;
    width: 80rem;
}

.search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: .1rem 1rem;
    font-size: 1rem;
    color: #cac7ff;
    font-size: 2rem;
}

.search button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.nocdiu{
    display: flex;
    flex-direction: row;
}

.mode{
    display: flex;
    justify-content: center;    
    align-items: center;
    border: 2px solid black;
    width: 5rem;
    height: 3.5rem;
    cursor: pointer;
}

.mode:hover{
    background-color: rgb(148, 148, 148);
}

.diu{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;    
}

.noc{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;    
}


/*Seleccion de idioma*/
ul{
    padding: 0;
}
ul li {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-align: center;
}

li a {
    color: black;
}

li a:hover {
    color: #3ca0e7;
}

li:hover {
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}


a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }

}

ul li ul li a {
    transition: all 0.5s ease;
}

/*Nav bar*/
.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
    overflow: hidden;
    margin: 1rem;
    margin-top: 0;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/*Principal*/
.principal{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem;
    grid-gap: 1rem;
}

.productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.producto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.product-image {
    width: 80%; 
    height: 10px; 
    object-fit: cover;
}


/*Map*/
#map{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: blue;
    width: 100%;
    height: 100%;
}

/*Footer*/
footer>p {
    background-color: #2245c7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 1rem;
}