/* Estilos generales */
html {
    height: 100vh;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primario);
    margin: 1rem;
    margin-bottom: 0;
    padding: 1rem;
}

.header a[href="/index"] img {
    height: 7rem;
}

.header a[href="/login"] img {
    height: 3rem;
}

.search {
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    border-radius: 60px;
    width: auto;
    margin-top: 0;
}

.search input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0.1rem 1rem;
    font-size: 1rem;
    color: var(--color-secundario);
    font-size: 2rem;
}

.search button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: var(--color-primario);
}

::-webkit-input-placeholder {
    color: var(--color-secundario);
}
 
/* Dropdown */
.dropbtn {
    background-color: var(--color-secundario);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-fondo);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: -125%;
}

.dropdown-content a {
    color: var(--color-texto);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--color-fondo);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Nav bar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-primario);
    overflow-x: auto;
    margin: 1rem;
    margin-top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: var(--color-hover);
    color: var(--color-secundario);
}

/* Principal */
.principal {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem;
    grid-gap: 1rem;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.product img {
    width: 80%;
    height: 10px;
    object-fit: cover;
}

/*Noticias*/
.articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 20px auto;
}

.article {
    width: 70%;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.articles a {
    text-decoration: none;
}

.article p:last-child {
    text-align: right;
}

/* Map */
#map {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


/* Login y registro*/
.login_container,
.register_container {
    width: 23rem;
    margin: 10rem auto;
    padding: 1rem;
    border: 1px solid var(--color-borde);
    border-radius: 10px;
    background-color: var(--color-fondo);
    text-align: center;
}

.login_container #log_form,
.register_container #reg_form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.login_container label,
.register_container label {
    margin-bottom: .3rem;
    font-weight: bold;
}

.login_container input,
.register_container input {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login_container button,
.register_container button {
    padding: 10px;
    background-color: #4caf50;
    color: var(--color-letra);
    border: none;
    cursor: pointer;
}

.login_container button:hover,
.register_container button:hover {
    background-color: #45a049;
}

.login_container a,
.register_container a {
    text-decoration: none;
    color: var(--color-h);
    display: block;
    margin-top: 10px;
}

.home img {
    height: 5rem;
}

/* Historia*/
.historia {
    width: 70%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--color-fondo);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.historia h1,
.historia h2,
.historia h3 {
    color: var(--color-h);
}

.historia p,
.historia ul {
    margin: 1rem;
}

.historia li {
    list-style-type: disc;
    margin-left: 2rem;

}

/* Business */
.business {
    color: var(--color-texto);
}

.paginas {
    display: flex;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
}

.paginas li {
    margin-right: 5px;
}

.paginas a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
}

.paginas a:hover {
    background-color: var(--color-fondo);
}

.paginas a.current {
    background-color: var(--color-primario);
    color: var(--color-letra);
}

.business {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
}

.business a {
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--color-h);
}

.business>div {
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    flex: 1;
    margin: 1rem;
    padding: 0 10px;
    box-sizing: border-box;
}

/* Contacto*/
.contacto {
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.contacto div,
.crear-negocio div {
    margin-bottom: 2rem;
}

.contacto h3,
.crear-negocio h3 {
    color: var(--color-h);
}

form {
    margin: 1rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: var(--color-letra);
    padding: .5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

button:hover {
    background-color: #2980b9;
    /* Darker color on hover */
}


.social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem;
}

.social a img {
    width: 10rem;
    cursor: pointer;
}

fieldset {
    margin: 1rem 0;
}

/* Contents */
.contentsContainer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 2rem;
    text-align: left;
    margin: 1rem auto;
}

.contents h2 {
    color: #333;
}

.contents div {
    padding: 20px;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    background-color: var(--color-fondo);
    transition: background-color 0.3s, color 0.3s;
    height: 100%;
    overflow: hidden;
}

.contents a {
    display: block;
    margin-bottom: 10px;
    color: var(--color-h);
}

.contents a:hover div {
    background-color: var(--color-hover);
    color: var(--color-secundario);
}

.contents a.eliminar {
    color: #e74c3c;
}

/* Crear Negocio*/
.formulario {
    width: 40%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo);
    border: 1px solid var(--color-borde);
}

.formulario div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.formulario div input{
    width: 100%;
}

.formulario button {
    margin: 1rem auto;
}

form section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* Review*/
button[type="submit"][data-reaction="false"], button[type="submit"][data-reaction="true"]{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button[type="submit"][data-reaction="false"][checked] {
    background-color: rgb(239, 136, 151);
}

button[type="submit"][data-reaction="true"][checked] {
    background-color: rgb(110, 219, 110);
}

/* Range */
input[type="range"] {
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}
  
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: linear-gradient(to right, #ff0000 0%, #ff0000 10%, #ffae00 15%, #ffae00 35%, #ffff00 40%, #ffff00 60%, rgb(156, 250, 73) 65%, rgb(156, 250, 73) 85%, #00ff00 90%, #00ff00 100%);
    border-radius: 5px;
    border: 1px solid #000000;
}
  
input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
  
input[type="range"]:focus {
    outline: none;
}
  
input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
}
  
input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

/************* PARA FIREFOX *************/
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: linear-gradient(to right, #ff0000 0%, #ff0000 10%, #ffae00 15%, #ffae00 35%, #ffff00 40%, #ffff00 60%, rgb(156, 250, 73) 65%, rgb(156, 250, 73) 85%, #00ff00 90%, #00ff00 100%);
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.review-icon {
    pointer-events: none;
    opacity: 0.8; 
}

/* Footer */
footer>p {
    background-color: var(--color-primario);
    color: var(--color-letra);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 1rem;
}

@media screen and (max-width: 1300px) {
    .formulario{
        width: 50%;
    }

    .contacto{
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    .principal {
        display: flex;
        flex-direction: column;
    }

    #map {
        height: 20rem;
        width: 30rem;
    }

    .contents {
        grid-template-columns: 1fr 1fr;
    }

    .formulario{
        width: 60%;
    }

    .contacto{
        width: 70%;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 510px) {
    .principal {
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    #map {
        height: 10rem;
        width: 20rem;
    }

    .contents {
        grid-template-columns: 1fr;
    }

    .formulario{
        width: 8    0%;
    }
}