:root {
    --color-fondo: white;
    --color-letra: black;
    --color-texto: black;
    --color-primario: #5e76cf; 
    --color-secundario: #75c7fe; 
    --color-hover: #2f66a1;
    --color-h: #007bff;
    --color-borde: #ccc;
    --color-contents: white;
    --color-inputs: white;
}